<section class="absolute top-0 w-full h-full z-50">
  <div
    class="bg-black-primary min-h-screen flex justify-center items-center bg-opacity-50 transition-opacity"
    (click)="onModalClick($event)"
  >
    <form
      [formGroup]="taskForm"
      (click)="onFormClick($event)"
      class="w-1/3 flex custom-form-height dark:bg-black-hover bg-white-primary h-full overflow-y-scroll flex-col gap-2 p-8 rounded-md hide-scroll-bar"
    >
      <h2 class="font-bold text-xl text-black-primary dark:text-white-primary">
        {{ type.at(0)?.toUpperCase()?.concat(type.slice(1, type.length)) }} Task
      </h2>

      <!-- Title Input Field -->
      <div class="mt-4 flex flex-col gap-3 group">
        <label for="title" class="font-semibold text-grey-primary">Title</label>
        <input
          type="text"
          id="title"
          formControlName="title"
          placeholder="Task Title"
          class="w-full px-4 p-3 rounded-lg border dark:bg-black-hover border-grey-primary dark:border-grey-primary font-medium dark:text-white-primary outline-none"
        />
        <div
          class="-mt-3 font-medium"
          *ngIf="
            taskForm.get('title')?.invalid &&
            (taskForm.get('title')?.dirty || taskForm.get('title')?.touched)
          "
        >
          <small class="text-red-primary">Title is required.</small>
        </div>
      </div>

      <!-- Description Input Field -->
      <div class="mt-4 flex flex-col gap-3 group">
        <label for="description" class="font-semibold text-grey-primary"
          >Description</label
        >
        <textarea
          id="description"
          formControlName="description"
          placeholder="Task Description"
          rows="3"
          class="w-full px-4 p-3 rounded-lg border dark:bg-black-hover border-grey-primary dark:border-grey-primary font-medium dark:text-white-primary outline-none"
        ></textarea>
      </div>

      <!-- Subtasks Section -->
      <div class="mt-2 flex flex-col gap-3">
        <label class="font-semibold text-sm text-grey-primary">Subtasks</label>
        <div formArrayName="subtasks" class="flex flex-col gap-3">
          <div *ngFor="let subtask of subtasks.controls; let i = index">
            <div class="flex gap-2 items-center p-1">
              <div
                class="flex justify-between items-center px-2 w-full border-grey-primary border dark:bg-black-hover rounded-lg"
                [ngClass]="{
                  'border-red-primary':
                    subtasks.at(i).invalid &&
                    (subtasks.at(i).dirty || subtasks.at(i).touched),
                }"
              >
                <input
                  type="text"
                  [formControlName]="i"
                  placeholder="e.g. Web Design"
                  class="px-4 p-3 h-full text-l font-medium outline-none rounded-lg dark:bg-black-hover dark:text-white-primary"
                />
                <!-- Error Message for Subtask -->
                <span
                  class="mt-1 text-red-primary text-l"
                  *ngIf="
                    subtasks.at(i)?.invalid &&
                    (subtasks.at(i)?.dirty || subtasks.at(i)?.touched)
                  "
                >
                  Can't be empty
                </span>
              </div>
              @if (
                subtasks.at(i).invalid &&
                (subtasks.at(i).dirty || subtasks.at(i).touched)
              ) {
                <span class="p-3 cursor-pointer" (click)="removeSubtask(i)">
                  <img
                    src="assets/images/icon-red-cross.svg"
                    alt="red cross icon"
                  />
                </span>
              } @else {
                <span class="p-3 cursor-pointer" (click)="removeSubtask(i)">
                  <img src="assets/images/icon-cross.svg" alt="cross icon" />
                </span>
              }
            </div>
          </div>
        </div>

        <button
          class="bg-grey-hover dark:bg-white-primary dark:hover:bg-grey-hover font-medium inline-block rounded-full text-purple-primary dark:text-purple-primary py-3 px-5 w-full"
          (click)="addSubtask()"
        >
          + Add New Subtask
        </button>
      </div>

      <!-- Status Dropdown -->
      <div class="mt-2 flex flex-col gap-3 group">
        <label for="status" class="font-semibold text-sm text-grey-primary"
          >Status</label
        >
        <select
          id="status"
          formControlName="status"
          class="w-full px-4 p-3 rounded-lg border dark:bg-black-hover border-grey-primary font-medium dark:text-white-primary outline-none"
        >
          <ng-container *ngIf="activeBoard$ | async as board">
            <option *ngFor="let column of board.columns" [value]="column.name">
              {{ column.name }}
            </option>
          </ng-container>
        </select>
        <div
          class="-mt-3 font-medium"
          *ngIf="
            taskForm.get('status')?.invalid &&
            (taskForm.get('status')?.dirty || taskForm.get('status')?.touched)
          "
        >
          <small class="text-red-primary">Status is required.</small>
        </div>
      </div>

      <!-- Submit Button -->
      <button
        class="bg-purple-primary hover:bg-purple-hover font-medium inline-block rounded-full text-white-primary py-3 px-5 w-full mt-2 text-center"
        (click)="onSubmit()"
      >
        Save Task
      </button>
    </form>
  </div>
</section>
