<section class="h-full w-full fixed top-0 left-0 z-20">
  <div
    class="w-full h-full bg-black-primary bg-opacity-50 transition-opacity flex justify-center items-center"
    (click)="onModalClick($event)"
  >
    <div
      class="w-1/3 bg-white-primary dark:bg-black-hover p-8 rounded-md z-30"
      (click)="onBlockPropagation($event)"
    >
      <h1 class="text-red-primary text-xl font-bold">Delete this board?</h1>
      <ng-content *ngIf="activeBoard$ | async as board">
        <p class="text-grey-primary text-lg font-bold my-4">
          Are you sure you want to delete the ‘{{ board.name }} ’ board? This
          action will remove all columns and tasks and cannot be reversed.
        </p>
      </ng-content>
      <div class="w-full flex justify-center items-center gap-4 my-2">
        <button
          class="bg-red-primary py-2 px-8 rounded-lg text-white-primary hover:bg-red-hover"
          (click)="onDeleteBoard($event)"
        >
          Delete
        </button>
        <button
          class="bg-purple-primary py-2 px-8 rounded-lg text-white-primary hover:bg-purple-hover"
          (click)="onCancelDelete()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</section>
