<div
  class="flex justify-start gap-4 w-full py-4 px-4 rounded-r-3xl cursor-pointer transition-all ease-linear delay-300"
  [ngClass]="{
    'bg-purple-primary': (activeBoard$ | async)?.name === title,
    'hover:bg-purple-hover': (activeBoard$ | async)?.name === title,
    'hover:bg-white-hover': (activeBoard$ | async)?.name !== title,
  }"
  (click)="handleBoardClick(title)"
>
  @if ((activeBoard$ | async)?.name === title) {
    <img src="assets/images/icon-board-active.svg" alt="icon-board" />
  } @else {
    <img src="assets/images/icon-board.svg" alt="icon-board" />
  }
  <h1
    class="text-grey-primary text-m font-bold"
    [ngClass]="{
      'text-white-primary': (activeBoard$ | async)?.name === title,
      'font-bold': (activeBoard$ | async)?.name === title,
    }"
  >
    {{ title }}
  </h1>
</div>
