.custom-height {
  height: calc(100vh - 100px);
}

.custom-checkbox {
  appearance: none;
  width: 14px;
  height: 14px;
  border: 0.8px solid #dfe3fa;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  transition: border-color 0.2s ease;
  position: relative;
  background-color: white;
}

.custom-checkbox:checked {
  background-color: #7c5dfa;
  border-color: #7c5dfa;
}

.custom-checkbox:hover {
  border-color: #7c5dfa;
}

.custom-checkbox:checked::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
/* Hide scrollbar for WebKit browsers */
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers */
.hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
