<div class="min-w-[280px] h-[814px] overflow-y-scroll hide-scroll-bar pb-56">
  <div class="flex items-center gap-4">
    <div class="h-4 w-4 rounded-full bg-grey-primary"></div>
    <h1 class="text-grey-primary font-bold">
      {{ column.name }} ({{ column.tasks.length }})
    </h1>
  </div>
  <!--Cards Wrapper-->
  <div class="my-4">
    @for (task of column.tasks; track $index) {
      <div class="bg-white-primary shadow-md p-4 rounded-md my-4 w-[280px]">
        <h1 class="text-black-primary text-m font-bold">
          {{ task.title }}
        </h1>
        <h2 class="text-grey-primary text-m font-bold">0 of 3 subtasks</h2>
      </div>
    }
  </div>
  <!--Cards Wrapper-->
  <div class="my-4">
    @for (task of column.tasks; track $index) {
      <div class="bg-white-primary shadow-md p-4 rounded-md my-4 w-[280px]">
        <h1 class="text-black-primary text-m font-bold">
          {{ task.title }}
        </h1>
        <h2 class="text-grey-primary text-m font-bold">0 of 3 subtasks</h2>
      </div>
    }
  </div>
  <!--Cards Wrapper-->
  <div class="my-4">
    @for (task of column.tasks; track $index) {
      <div class="bg-white-primary shadow-md p-4 rounded-md my-4 w-[280px]">
        <h1 class="text-black-primary text-m font-bold">
          {{ task.title }}
        </h1>
        <h2 class="text-grey-primary text-m font-bold">0 of 3 subtasks</h2>
      </div>
    }
  </div>
</div>
