@media screen and (min-width: 640px) {
  .side-bar-height {
    height: calc(100vh - 150px);
  }
}

.pop-up {
  transition: all 0s ease-in-out;
  transform: translate(-1600px);
}

.pop-up-colapsed {
  transform: translate(0px);
}

@media screen and (max-width: 640px) {
  .pop-up {
    transition: all 0.6s ease-in-out;
    transform: translateY(1600px);
  }

  .pop-up-colapsed {
    transition: all 0.6s ease-in-out;
    transform: translateY(0px);
  }
}
/* Hide scrollbar for WebKit browsers */
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers */
.hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
