<section class="fixed top-0 w-full z-10">
  <div
    class="flex justify-between w-full bg-white-primary border-b-2 border-b-white-hover dark:border-b-dark-grey-hover dark:bg-dark-grey-primary"
  >
    <div class="flex items-center">
      <div class="hidden sm:block py-2 sm:py-4 px-0 sm:px-8 dark:hidden">
        <img src="assets/images/logo-dark.svg" alt="logo light" />
      </div>
      <div class="py-2 sm:py-4 px-0 sm:px-8 sm:dark:block hidden">
        <img src="assets/images/logo-light.svg" alt="logo light" />
      </div>

      <div class="p-4 sm:hidden">
        <img src="assets/images/logo-mobile.svg" alt="mobile logo" />
      </div>

      <div
        class="hidden sm:block w-[2px] mx-1 sm:mx-4 h-full bg-white-hover dark:bg-dark-grey-hover"
      ></div>
      <div
        class="py-4 sm:py-4 px-0 sm:px-8 flex justify-center gap-2 items-center"
      >
        <h1
          class="text-[13px] sm:text-[20px] lg:text-xl font-bold dark:text-white-primary"
        >
          Platform Launch
        </h1>
        <!--  Drop down-->
        @if (toggleSideBar$ | async) {
          <img
            src="assets/images/icon-chevron-up.svg"
            alt="icon-chevron-down"
            class="w-[8%] h-1/4 sm:hidden"
            (click)="toggleSideBar()"
          />
        } @else {
          <img
            src="assets/images/icon-chevron-down.svg"
            alt="icon-chevron-down"
            class="w-[8%] h-1/4 sm:hidden"
            (click)="toggleSideBar()"
          />
        }
      </div>
    </div>
    <div class="p-4 flex justify-between items-center gap-2 sm:gap-4 sm:px-8">
      <div
        class="flex justify-center items-center sm:gap-2 bg-purple-primary rounded-xl py-2 px-4 sm:w-[164px]"
        (click)="toggleAddNewTask()"
      >
        <div>
          <img src="assets/images/icon-add-task-mobile.svg" alt="plus icon" />
        </div>
        <h2 class="text-white-primary hidden sm:block text-m">Add New Task</h2>
      </div>
      <div class="p-1">
        <img
          src="assets/images/icon-vertical-ellipsis.svg"
          alt="icon-vertical-ellipsis"
        />
      </div>
    </div>
  </div>
</section>
